<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <span> id= <%= id%> </span><br>
    <span> name= <%= name%> </span><br>
    <span> phone= <%= phone%> </span><br>
    <span> birth= <%= birth%> </span><br>

    <form action="/updatepw" method="post">
      <input type="password" placeholder="현재 비밀번호">
      <input type="password" placeholder="변경할 비밀번호">
      <input type="password" placeholder="변경할 비밀번호 재 확인">
      <button type="submit">변경</button>
    </form>
  </body>
</html>
